.display-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.display-messages h2 {
  margin-bottom: 10px;
}

.message-section {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;
}

.message-header {
font-weight: 700;
}

.message-content{
  font-size: ;
}